<!--- Header and nav template site-wide -->
<header>
    <nav class="group">
		<a href="{% if site.sourceurl %}{{ "/" | prepend: site.sourceurl }}{% else %}{{ "/" | prepend: site.baseurl }}{% endif %}"><img class="badge" src="{% if site.sourceurl %}{{ site.logo | prepend: "/assets/img/" | prepend: site.sourceurl }}{% else %}{{ site.logo | prepend: "/assets/img/" | prepend: site.baseurl }}{% endif %}" alt="OP"></a>
		<a href="{% if site.sourceurl %}{{ "/" | prepend: site.sourceurl }}{% else %}{{ "/" | prepend: site.baseurl }}{% endif %}">Home</a>
		<a href="{% if site.sourceurl %}{{ "/about" | prepend: site.sourceurl }}{% else %}{{ "/about" | prepend: site.baseurl }}{% endif %}">About</a>
	</nav>
</header>
